<h1>Mi Perfil</h1>
<em>Mi nombre es {{ nombre }}</em>
<p>Tengo {{ edad }} años</p>
<strong>{{ ocupacion }}</strong>
<p>
  <cite>Mi dirección es {{ direccion }}</cite>
</p>
<br /><br />
<app-cuenta [nombreCliente]="nombreCliente"></app-cuenta>

<br /><br />
<app-transacciones (mensajeEnviado)="recibirMensaje($event)"></app-transacciones>
<p *ngIf="mensajeRecibido">Mensaje recibido: {{ mensajeRecibido }}</p>
<button (click)="cambiarEdad()">Cambiar Edad</button>
<button (click)="cambiarDireccion()">Cambiar Dirección</button>
